@charset "utf-8";

/* 소스출처 : https://martian36.com/1609 */
/* 라이센스출처 : https://s-core.co.kr/company/font/ */
/* -------- S-Core Dream -------- */
/* -- font-family:"SCoreDream";					100(Thin) / 300(Light) / 400(Regular) / 500(Medium) / 600(Bold) / 700(ExtraBold) -- */
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 100;
	font-style: normal;
	src: url(./scdreamLight1.woff2) format('woff2'),
		 url(./scdreamLight1.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 200;
	font-style: normal;
	src: url(./scdreamLight2.woff2) format('woff2'),
		 url(./scdreamLight2.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 300;
	font-style: normal;
	src: url(./scdreamLight3.woff2) format('woff2'),
		 url(./scdreamLight3.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 400;
	font-style: normal;
	src: url(./scdreamLight4.woff2) format('woff2'),
		 url(./scdreamLight4.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 500;
	font-style: normal;
	src: url(./scdreamLight5.woff2) format('woff2'),
		 url(./scdreamLight5.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 600;
	font-style: normal;
	src: url(./scdreamLight6.woff2) format('woff2'),
		 url(./scdreamLight6.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 700;
	font-style: normal;
	src: url(./scdreamLight7.woff2) format('woff2'),
		 url(./scdreamLight7.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 800;
	font-style: normal;
	src: url(./scdreamLight8.woff2) format('woff2'),
		 url(./scdreamLight8.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: "SCoreDreamLight";
	font-weight: 900;
	font-style: normal;
	src: url(./scdreamLight9.woff2) format('woff2'),
		 url(./scdreamLight9.woff) format('woff');
	font-display: swap;
}